@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --color-text-primary: #EDF3FF;
    --color-text-secondary: #D7E5FF;
    --color-text-placeholder: #A0B1CF;
    --color-bg-primary: #111827;
    --color-bg-secondary: #233043;
    --color-bg-sidebar: #1E2939;
    --color-border-hr: #364153;
    --color-hover-secondary: #33435B;
    --color-hover-secondary-alt: #415472;
    --gradient-blue-purple: linear-gradient(135deg, #3b82f6 0%, #8b5cf6 100%);

    --sidebar-open-width: 260px;
    --sidebar-closed-width: 80px;
}